interface {componentName}Props{ }

export default function {componentName} = (props:{componentName}Props) => {
  return (
    <div className="{pageKebabName}-component">
      {componentName}
    </div>
  )
}

